*{
	margin:0;
	padding:0;
	font-family: arial;
	color:#424242;
}

ul{
	list-style: none;

}


.cover_top{
	height:30px;
	background-color:#f5f5f5;
}



.navigation_1{
	margin:0 auto;
	height:30px;
	width:1190px;
/*	border:1px solid black;*/
}

.cover_top_ul1{
	/*width:359px;*/
	height:30px;
	float:left;
	/*border:1px solid red;*/
	/*background-color:#f5f5f5;*/
}


.cover_top_ul_2_li_1::after,
.cover_top_ul_2_li_2::after,
.cover_top_ul_2_li_3::after,
.cover_top_ul_2_li_4::after,
.cover_top_ul_2_li_5::after,
.cover_top_ul_2_li_6::after,
.cover_top_ul_2_li_7::after,
.cover_top_ul_2::after,
.cover_top_ul1_li_1::after,
.cover_top_ul1_li_2::after,
.cover_top_ul1_li_3::after,
.cover_top_ul1_li_4::after,
.cover_top_ul1_1::after{
	content:"";
	display:block;
	clear:both;
}

.cover_top_ul1_li_1{
	text-align: center;
	line-height: 30px;
	
	width:75px;
	float:left;
}

.cover_top_ul1_li_2{
	text-align: center;
	line-height: 30px;
	
	width:100px;
	float:left;

}

.cover_top_ul1_li_3{
	text-align: center;
	line-height: 30px;
	width:40px;
	float:left;

}


.cover_top_ul1_li_4{
	text-align: center;
	line-height: 30px;
	width:100px;
	float:left;
}

/*ul2*/

.cover_top_ul_2{
	width:606px;
	height:30px;
	/*border:1px solid red;*/
	float:left;
	margin-left: 150px;
	float:right;
}


.cover_top_ul_2_li_1,
.cover_top_ul_2_li_2,
.cover_top_ul_2_li_3,
.cover_top_ul_2_li_4,
.cover_top_ul_2_li_5,
.cover_top_ul_2_li_6,
.cover_top_ul_2_li_7{
	float:left;
	/*border:1px solid red;*/
	text-align: center;
	line-height: 30px;
}


.cover_top_ul_2_li_1,
.cover_top_ul_2_li_2,
.cover_top_ul_2_li_3,
.cover_top_ul_2_li_4,
.cover_top_ul_2_li_6,
.cover_top_ul_2_li_7{
	width:70px;
}

.cover_top_ul_2_li_5{
	width:100px;
}


.top-wrap{
	height:97px;
	border:1px solid green;
}

.top-wrap.clearfix{
	margin:0 auto;
	width:1190px;
	height:97px;
	border:1px solid blue;
}


.top-wrap.clearfix a::after{
	content: "";
	clear:both;
}



.top-wrap.clearfix a{
	background-image:url(Resources/taobao_title.png);
	background-repeat: no-repeat;
	display:block;
	margin-top: 20px;
	margin-left:22px;
	padding-top:58px;
	width:142px;
	height:0;
	border: 1px solid red;
	text-indent: 142px;
	white-space: nowrap;
	overflow: hidden;
	float: left;
}

.search{
	width:627px;
	height:87px;
	border:1px solid red;
	/*float: left;*/
	margin:5px 200px;
}

.search_title_list{
	float:left;
	height:22px;
	width:600px;
	border:1px solid blue;
}

.search_title_list_li_1::after
.search_title_wrapper::after,
.search_title_list_li::after{
	content:"";
	clear:both;
}

.search_title_list_li_1{
	float:left;
	display:inline-block;
	line-height: 22px;
	height: 22px;
	text-align: center;
	width:36px;
	/*border:1px solid green;*/
	margin-left: 4px;
	border:1px solid green;
	border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    color:rgb(255,255,255);
    background-color: #ff5000;

}

.search_title_list_li{
	float:left;
	display:inline-block;
	line-height: 22px;
	height: 22px;
	text-align: center;
	width:36px;
	/*border:1px solid green;*/
	margin-left: 4px;
/*	border:1px solid green;*/
/*	border-top-right-radius: 6px;
    border-top-left-radius: 6px;*/
    color:#ff5000;
}


.search_wrapper{
	height: 40px;
	width: 627px;
	border:1px solid red;
	margin-top: 22px;
}

.button-search{
	/*float:right;*/
}






.fz-wrapper{
	height:22px;
	width: 627px;
	border:1px solid green;
}

.fz-list-li{
	line-height:22px;
	text-align: center;
	float:left;
	height:22px;
	width:627px;
}