*{
	margin:0;
	padding:0;
	font-family: arial;
	color:#424242;
}

ul{
	list-style: none;

}

.navigation_1{
	width:1190px;
	height:30px;
	background-color:#f5f5f5;
	border:1px solid black;
}

.cover_top_ul1{
	width:359px;
	height:30px;
	float:left;
	border:1px solid red;
}



.cover_top_ul_2_li_1::after,
.cover_top_ul_2_li_2::after,
.cover_top_ul_2_li_3::after,
.cover_top_ul_2_li_4::after,
.cover_top_ul_2_li_5::after,
.cover_top_ul_2_li_6::after,
.cover_top_ul_2_li_7::after,
.cover_top_ul_2::after,
.cover_top_ul1_li_1::after,
.cover_top_ul1_li_2::after,
.cover_top_ul1_li_3::after,
.cover_top_ul1_li_4::after,
.cover_top_ul1_1::after{
	content:"";
	display:block;
	clear:both;
}

.cover_top_ul1_li_1{
	text-align: center;
	line-height: 30px;
	
	width:75px;
	float:left;
}

.cover_top_ul1_li_2{
	text-align: center;
	line-height: 30px;
	
	width:100px;
	float:left;

}

.cover_top_ul1_li_3{
	text-align: center;
	line-height: 30px;
	width:40px;
	float:left;

}


.cover_top_ul1_li_4{
	text-align: center;
	line-height: 30px;
	width:100px;
	float:left;
}

/*ul2*/

.cover_top_ul_2{
	width:606px;
	height:30px;
	border:1px solid red;
	float:left;
	margin-left: 150px;
}


.cover_top_ul_2_li_1,
.cover_top_ul_2_li_2,
.cover_top_ul_2_li_3,
.cover_top_ul_2_li_4,
.cover_top_ul_2_li_5,
.cover_top_ul_2_li_6,
.cover_top_ul_2_li_7,
.cover_top_ul_2{
	float:left;
	border:1px solid red;
	text-align: center;
	line-height: 30px;
}


.cover_top_ul_2_li_1{
	width:70px;
}

.cover_top_ul_2_li_2{
	width:70px;
}

.cover_top_ul_2_li_3{
	width:70px;
}

.cover_top_ul_2_li_4{
	width:70px;
}

.cover_top_ul_2_li_5{
	width:100px;
}

.cover_top_ul_2_li_6{
	width:70px;
}

.cover_top_ul_2_li_7{
	width:70px;
}


.navigation_2{
	height:100px;
	width:1190px;
	/*background-image:url(Resources/back_ground_navigation_2.png);*/
}

.navigation_2 .a{
	display:block;
	float:left;
}

.navigation_2.a::after{
	content:"";
	clear:both;
}


.list_fl_n2{
	float: left;
	width:1085px;
	margin-top:15px;
	border:10px solid green;	
}



















