.screen-outer{
	height:522px;
	width:1190px;
	border:1px solid green;
	margin:0 auto;
	position:relative;
}

.main{
	height:522px;
	width:900px;
/*	border:1px solid red;*/
	float:left;
}

.main-ul span img::after,
.main-ul-li-i::after,
.col-right::after,
.main::after{
	content:"";
	clear:both;
}

.col-right{
	height:522px;
	width:280px;
	border:1px solid blue;
	float:left;
}

.main-ul-wrapper{
	height:522px;
	width:190px;
	border:1px solid #f40;
	float: left;
}

.main-ul-li{
	height:32px;
	width:145px;
	/*border:1px solid black;*/
	line-height: 32px;
	font-size: 14px;
	font-weight:400;
	padding:0 20px 0 25px;
	color:#666;
}


.main-ul-li:hover{
	background-color: #ffe4dc;
	color:#f40;

}

.main-ul-li a:hover{
	text-decoration: underline;
}



.main-ul span img{
	height:20px;
	width:10px;
	line-height: 20px;
	margin-right:10px;
	display: inline-block;
	float:right;
	margin: 6px 15px 6px 0;
}





/**/

.main-center{
	width:512px;
	height:520px;
	border:1px solid black;
	float: left;
}
