*{
	margin:0;
	padding:0;
}

.right{
	position:absolute;
	right:0;
	width:100px;
	height:100px;
	background-color:#fcc;
	opacity:0.5;
}

.left{
	 
	height:100px;
	background-color: black;
}

.wrapper{
	/*position:absolute;
*/	height:100px;
	width:100px;
	background-color:black;
	margin-left:100px;
	margin-top:100px;
	overflow:hidden;
}

.box{
	/*position:absolute;*/
	margin-left:50px;
	margin-top:75px;
	height:50px;
	width:50px;
	background-color: green;
}

.box1{
	background-color: red;
	margin-right:100px;
}                                     

.box2{
	background-color:yellow;
	margin-right:100px;
}



.wrapper1{
	overflow:hidden;
}
.demo1{
	background-color:red;
	margin-bottom:100px;
}

.demo2{
	background-color:yellow;
	margin-top:100px;
}




