*{
	padding: 0;
	margin: 0;
	color: #424242;
	font-family: arial;
}

.oneLine{
	width:300px;
	height:20px;
	line-height: 20px;
	/*	border:2px solid black;*/

	/*文字溢出不换行*/
	white-space: nowrap;

	/*溢出部分隐藏*/
	overflow:hidden;

	/*ellipsis: 省略号*/
	text-overflow:ellipsis;
}


.twoLine{
	width:300px;
	height:40px;
	line-height: 20px;
	border:2px solid black;

}

.dog{
	width:400px;
	height:200px;
	border:2px solid red;
	margin: 30px 0;
	background-image:url(../resoure/dog.jpg);
	background-size:100px 200px;
	background-repeat:no-repeat;
}

.a a{
	height:90px;
	width:190px;
	background-repeat:no-repeat;
	background-image:url(../resoure/TMALL.png);
	display:inline-block;
	border:1px solid black;
	background-size: 190px 90px;

	/*首行缩进190px 使文字溢出边框*/
	text-indent:190px;

	/*文字溢出：不换行*/
	white-space: nowrap;

	/*文字溢出隐藏*/
	overflow:hidden;

}

.a1 a{
	height:0px;
	width:190px;
	padding-top:90px;
	background-repeat:no-repeat;
	background-image:url(../resoure/TMALL.png);
	display:inline-block;
	border:1px solid black;
	background-size: 190px 90px;
	overflow:hidden;
}



