/*想让一个盒子在另一个盒子居中显示：设置俩个盒子宽高相等，外面的盒子设置一定padding*/
/*.wrapper{
	width:100px;
	height:100px;
	background-color:red;
	border:10px solid green;
	padding:100px 50px;
	margin:10px;
}

.content{
	width:100px;
	height:100px;
	background-color:black;
}
*/

/*计算和模型height weight*/
/*div{
	width:100px;
	height:100px;
	background-color:red;
	border:10px solid black;
	padding:10px 20px 30px;
	margin:10px 20px;
}
*/

/*body{
	margin:0;
}*/
/*
#my-defined{
	width:100px;
	height:100px;
	padding:0 100px;
	margin:10px 20px 30px 40px;
	
	border:1px solid orange;
	background-color:orange;
}*/



/*原始图实现*/

/*div.content1{
	height:10px;
	width:10px;
	background-color:#fff;
}

div.content{
	height:10px;
	width:10px;
	padding:10px;
	background-color:#0f0;
}


div.box{
	width:30px;
	height:30px;
	background-color: #fff;
	padding:10px;
}
div.wrapper{
	width:50px;
	height:50px;
	background-color:#0f0;
	padding:10px;
}


.demo1{
	background-color:red;
	margin-right:10px;
}

.demo2{
	margin-left:px;
}
*/
/*body{
	margin:0;
}*/

/**{
	padding:0;
	margin:0;
}*/

/*.demo1{
	position:absolute;
	left:100px;
	top:100px;
	width:100px;
	height:100px;
	background-color:red;
	/*透明度设置*/
/*	opacity:0.5;
}
*/

/*
.demo2{
	width:150px;
	height:150px;
	background-color:green;
}

.demo3{
	width:100px;
	height:100px;
	background-color:red;
}
*/


.wrapper{
/*	position: absolute;*/
	margin-left:100px;
	width:200px;
	height:200px;
	background-color:orange;
}
.box{
	margin-left:100px;
	width:100px;
	height:100px;
	background-color:blue;
}

.content{
	position: relative;
	right:50;
	margin-left:20px;
	width:50px;
	height:50px;
	background-color:black;
}

/*.content1{
	width:10px;
	height:10px;
	background-color:red;
}*/


/*广告1*/
.guanggao{
	position:fixed;
	left:0;
	top:300;
	background-color:red;
}

/*居中*/


.juzhong{
	position:fixed;
	height:200px;
	width:200px;
	left:50%;
	top:50%;
	/*盒子一半的值*/
	margin-left:-100px;
	margin-top:-100px;
	background-color:red;
}


/*圆形*/

.circular{
	width:100px;
	height:100px;
	border:10px solid black;
	border-radius:50%;
}